:root {
    --font-primary : 'Roboto', sans-serif;
    --color-1 : #F25835;
    --color-2 : #F2B035;
    --color-3 : #F2B035;
    --color-4 : #048ABF;

}


/*********************************************************/
/*  estilos gerais 
/*********************************************************/
body {
    background-color: white;
    font-family: var(--font-primary);

}

hr{
    border: none;
    width: 150px;
    background-color: var(--color-3);
    height: 2px;
}

a{
    text-decoration: none;
    color: black;
}
p {
    line-height: 25px;
}
img {
    max-width: 100%;
    display: block;
}

/*********************************************************/
/* btn  Menu mobile
/*********************************************************/



.menu-bg{
    background-color: var(--color-1);
}

.menu {
    max-width: 960px;
    min-height: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu__logo a{
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__link {
    margin:  10px;
    padding: 10px;
    color: white;
}

/*********************************************************/
/*   Menu
/*********************************************************/
#btn-mobile{
    display: none;
}

@media (max-width: 700px) {
    #btn-mobile{
        display: block;
    }
    #nav__list{
        display: none;
        position: absolute;
        width: 50%;
        top: 60px;
        right: 0px;
        background-color: var(--color-1);
        border: 2px solid rgba(0, 0, 0, 0.267);
        z-index: 1000;

    }
    #nav.active #nav__list{
        display: block;
        height: 100vh;
    }
    #nav__list .nav__link{
        display: block;
        border-bottom: 1px solid var(--color-3);
        padding: 10px;
    }
    

}

/*********************************************************/
/*   header
/*********************************************************/
.intro {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;   
}


.sobre {
    max-width: 960px;
    margin: 0 auto;
}

.sobre-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sobre-c__texto{
    flex: 6 1 300px;
    font-size: 1.2em;
}
.sobre-c__img{
    flex: 1 1 450px;
}
.sobre-c__img img{
    margin: 0 auto;

}
/*********************************************************/
/*   main
/***********************************************************/

main{
    max-width: 960px;
    margin: 0 auto;
    border-bottom: 2px solid var(--color-1);
    border-radius: 30px;
}

/*********************************************************/
/*   section
/***********************************************************/

.tecnologias{
    max-width: 960px;
    margin: 0 auto;
}

.section_titulo {
    margin: 20px 0;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.tecnologias-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.tecnologia {
    width: 280px;
    margin: 10px auto;
    text-align: justify;
    padding: 10px;
}
.tecnologia__titulo {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
    
}
.tecnologia_html{
    border: 2px solid var(--color-1);
}
.tecnologia_css{
    border: 2px solid var(--color-4);
}
.tecnologia_js{
    border: 2px solid var(--color-2);
}


/*********************************************************/
/*   footer
/***********************************************************/
footer{
    background-color: var(--color-1);
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 50px;

}